<div>
    <h1>{{msg}}</h1>
    <hotproduct :title='product_title' @more='onmore'></hotproduct>
    <button @click="checkObject.checkName">检查</button>
    <div class="box">
        <div class="service_menu_icon service_menu_icon_01"></div>
        <div class="service_menu_icon service_menu_icon_02"></div>
        <div class="service_menu_icon service_menu_icon_021"></div>
        <div class="service_menu_icon service_menu_icon_03"></div>
        <div class="service_menu_icon service_menu_icon_04"></div>
        <div class="service_menu_icon service_menu_icon_05"></div>
        <div class="service_menu_icon service_menu_icon_06"></div>
    </div>
</div>